<!-- Figure Row -->
<div class="row">

  <!-- 1st col -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">

    <h2>Profiles</h2>
    <ul>
      <li>E-mail: <a href="mailto:cbbh0101@gmail.com">cbbh0101@gmail.com</a></li>
      <li><a href="https://gitlab.com/cbhuang">GitLab</a></li>
      <li><a href="https://stackoverflow.com/users/3218693">StackOverflow</a></li>
      <li><a href="https://www.linkedin.com/in/cbhuang">LinkedIn</a></li>
    </ul>

    <h2>About Me</h2>
    <ul>
      <li>A Taiwanese data scientist living in the Netherlands.</li>
      <li>About my name:</li>
      <ul>
        <li>Born (Chinese): <span style="font-weight:bold">黃全斌</span>, pronunced like "<span style="font-style:italic">Hwang Chyuan Bin</span>"</li>
        <li>Formal English spelling: <span style="font-weight:bold">Chuan-Bin Huang</span>. The preferred abbreviation is <span style="font-weight:bold">C.B. Huang</span> or <span style="font-weight:bold">CB Huang</span>. <span style="font-weight:bold">C. Huang</span> is also acceptable.</li>
        <ul>
          <li>Huang (黃) is the family name; Chuan-Bin (全斌) is the first/given name. There is <span style="font-weight:bold">no middle name</span> in Chinese naming system.</li>
          <li><span style="font-weight:bold">INCORRECT</span>: "Chuan B. Huang" or "Chuan Huang".</li>
        </ul>
        <li>How people call me: <span style="font-weight:bold">Bill</span> or <span style="font-weight:bold">Chuan-Bin</span>.</li>
        <ul>
          <li>"Bill" and "Chuan-Bin" are equally preferred. They are both given by my parents, and they are both integral parts of my identity.</li>
          <li><span style="font-weight:bold">INCORRECT</span>: "Chuan" or "Bin".</li>
        </ul>
      </ul>
      <li>My Dutch ability is currently between A2 and B1.</li>
      <ul>
        <li>Ik kan een beetje Nederlands lezen en schrijven, maar Ik voel nu preciezer om Engels te spreken. / I can read and write some Dutch, but for precise communication I still speak English.</li>
      </ul>
    </ul>
  </div>

  <!-- 2nd col -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <h2>Education</h2>
    <ul>
      <li><span style="font-weight:bold">MSc Data Science in Engineering</span>, Eindhoven University of Technology (TU/e), The Netherlands (2020)</li>
      <ul>
        <li><a href="https://www.tue.nl/en/education/become-a-tue-student/scholarships-and-grants/amandus-h-lundqvist-scholarship-program">ALSP and Holland Scholarships</a></li>
        <li>Specialty: artificial intelligence (AI), small-model training algorithms</li>
        <li>Thesis: <a href="/static/thesis.pdf" target="_blank"><span style="font-style:italic">Novel Evolutionary Algorithms for Robust Training of Very Small Multilayer Perceptron Models</span></a></li>
      </ul>
      <li><span style="font-weight:bold">M. B. A.</span>, National Cheng Kung University (NCKU), Taiwan (2014)</li>
      <ul>
        <li>Educational Practicum for Secondary School Teachers (2012 fall)</li>
      </ul>
      <li><span style="font-weight:bold">Double BSc in Physics and Chemistry</span> & <span style="font-weight:bold">minor in Mathematics</span>, National Taiwan University (NTU), Taiwan (2008)</li>
    </ul>
  </div>

  <!-- 3rd col -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <h2>Experience</h2>
    <ul>
      <li><span style="font-weight:bold">Data Analyst</span> (Internship), DAF Trucks BV, The Netherlands (Sep. - Dec. 2019)</li>
      <ul>
        <li>Improved the efficiency of an existing pricing model using AI</li>
        <li>Automated 2 account auditing processes on Microsoft SQL Server</li>
      </ul>
      <li><span style="font-weight:bold">Research Assistant in quantum chemistry</span>, IAMS Academia Sinica, Taiwan (Aug. 2017 - Jul. 2018)</li>
      <ul>
        <li> Simulation of electron dynamics in nanowires using Python on PBS clusters</li>
      </ul>
      <li><span style="font-weight:bold">Data Analyst</span>, PICK International Asset Management Group, Taiwan (Apr. - Nov. 2016)</li>
      <ul>
        <li>Authored the department database manual</li>
        <li>Analytical projects: decision tree (C5.0)*2, regression*1, descriptive statistics*2</li>
        <li>Identified and fixed a C# dll and a PHP interface using UML diagrams</li>
        <li>Created 10+ T-SQL stored procedures and functions to automate data cleansing</li>
      </ul>
      <li><span style="font-weight:bold">Research Assistant in quantitative finance</span>, NCKU, Taiwan (Aug. 2014 - Jul. 2015)</li>
      <ul>
        <li>Focus: construction of indicators of stock mispricing and analyst abilities</li>
        <li>Lectured a 6-hour course on using SAS and SQL with WRDS financial database</li>
      </ul>
      <li><span style="font-weight:bold">Second Lieutenant</span>, Political Warfare Officer, Taiwan Air Force (Aug. 2009 - Jul. 2010)</li>
      <ul>
        <li>Wrote 3 Excel VBA macros to automate cross-worksheet data processing</li>
      </ul>
      <li><span style="font-weight:bold">High school science teacher/tutor</span> (2003 - 2017)</li>
      <ul>
        <li>Held 5 summer classes in high school science; taught 50+ students</li>
      </ul>
    </ul>
  </div>

  <!-- 4th col -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <h2>Skill Set</h2>
    <ul>
      <li>Productive languages (domains):</li>
      <ul>
        <li>Python (data science / artificial intelligence / numerical simulation)</li>
        <li>Microsoft T-SQL</li>
        <li>R</li>
        <li>SAS</li>
        <li>JavaScript (data visualization)</li>
      </ul>
      <li>Professional certificates:</li>
      <ul>
        <li><a href="https://www.youracclaim.com/badges/568c42ee-703c-404b-8cc7-0b35dbdd8b55">SAS Advanced Programmer Certificate</a> (Jul. 2015)</li>
        <li>Senior High School Teacher’s Certificates in Physics and Chemistry (Taiwan)</li>
        <li>Computer Software Design and Application Technician Certificates, Level C (Taiwan)</li>
      </ul>
      <li>Training courses:</li>
      <ul>
        <li><a href="https://datasci.kktix.cc/events/rcrawler101-201605">R web scraping (in Chinese)</a></li>
        <li><a href="https://www.pluralsight.com/courses/code-school-the-magical-marvels-of-mongodb">MongoDB basics</a></li>
        <li><a href="http://datasci.tw/agenda/?conf=DS">Taiwanese Data Science Annual Conference (in Chinese)</a></li>
      </ul>
    </ul>
  </div>

</div>
