<h2 style="text-align:center">Selected Projects on Data Science and Software Development</h2>

<div class="row">

  <div class="col-lg-9 col-md-12 col-12">
      <ul>
        <li>My TU/e thesis project on novel evolutionary algorithms for AI-training (<a href="https://cbhuang.gitlab.io/tue-evo-mlp/README.html" target="_blank">documentation</a>; <a href="https://gitlab.com/cbhuang/tue-evo-mlp" target="_blank">source code</a>)</li>
        <li>This website (<a href="https://gitlab.com/cbhuang/cbbhsite" target="_blank">source code</a>)</li>
        <li>Suicide Rate Around The World: An interactive data visualization project using <a href="https://plot.ly/javascript" target="_blank">plotly.js</a> (<a href="projects/suicide-rate/index.html" target="_blank">visualization</a>; <a href="https://gitlab.com/cbhuang/tue-vis-hw2" target="_blank">source code</a>)</li>
        <li><a href="https://gitlab.com/cbhuang/tar-nas-console" target="_blank">tar-nas-console</a>: A BASH module for scheduling linux PC backups into an NAS device</li>
        <li><a href="https://gitlab.com/cbhuang/tue-data-mining/blob/master/hw3/DigitalStylus.ipynb" target="_blank">An RNN handwriting recognition project</a> using <a href="https://keras.io" target="_blank">tensorflow.keras</a></li>
        <li><a href="https://gitlab.com/cbhuang/kcautos1" target="_blank">kcauto</a>: a BASH library of mouse automation scripts for Kancolle, an once popular browser game</li>
        <li><a href="https://gitlab.com/cbhuang/tue-wir-jobscraper" target="_blank">tue-wir-jobscraper</a>: a complete workflow of Python web scraping (<a href="https://scrapy.org" target="_blank">Scrapy</a>) + <a href="https://www.mongodb.com/" target="_blank">MongoDB 4</a> + text mining module (<a href="https://www.nltk.org" target="_blank">NLTK</a>, <a href="https://radimrehurek.com/gensim" target="_blank">Gensim</a>) for <a href="https://www.nationalevacaturebank.nl" target="_blank">a Dutch job website</a>.</li>
        <li>conda-http-download: a quick-and-dirty Python module to download & offline-install conda packages and dependencies in SSH-disabled environments. (<a href="https://cbhuang.gitlab.io/conda-http-download/README.html" target="_blank">documentation</a>, <a href="https://gitlab.com/cbhuang/conda-http-download" target="_blank">source code</a>)</li>
      </ul>
  </div>

  <div class="col-lg-3 col-md-12 col-12 justify">
    <figure class="text-center">
      <img class="decoration-pic" src="/static/photo/coding.jpg" alt="coding picture">
    </figure>
  </div>
</div>
