<h2 style="text-align:center">List of Bill's Fingerstyle Guitar Compositions & Rearrangements</h2>

<div class="row">

  <div class="col-lg-9 col-md-12 col-12">
    <ul>
      <li><h4>Original Compositions:</h4></li>
      <ul>
        <li>Be-Loved (<a href="https://www.youtube.com/watch?v=wWYwmKtXziE&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=1" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/MAY_01_Be-Loved" target="_blank">tabs</a>)</li>
        <li>May's Theme (<a href="https://www.youtube.com/watch?v=w_JGdB0YGRU&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=2" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/MAY_02_May_Theme" target="_blank">tabs</a>)</li>
        <li>Memory since May (<a href="https://www.youtube.com/watch?v=VSNZ1gOSFHY&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=3" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/MAY_03_Memory_Since_May" target="_blank">tabs</a>)</li>
        <li>December Sunshine (<a href="https://www.youtube.com/watch?v=D6-8VdCsAzc&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=4" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/MAY_04_December_Sunshine" target="_blank">tabs</a>)</li>
        <li>Indruk der Lieflijke Meisje (Impression of the Lovely Girl) (<a href="https://www.youtube.com/watch?v=aCMWRQ7jxPs&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=8" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/OF_03_Indruk_der_Lieflijke_Meisje" target="_blank"">tabs</a>)</li>
        <li>舟山午後 (Zhoushan Afternoon) (<a href="https://www.youtube.com/watch?v=k2ktYzXBw6Q&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=10" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/OF_02_Zhoushan_Afternoon" target="_blank">tabs</a>)</li>
        <li>Lisje de Elfje (<a href="https://www.youtube.com/watch?v=PGASd_nj0sE&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=13" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_06_EVA_OP" target="_blank">tabs</a>)</li>
      </ul>
      <li><h4 style="margin-top:0.5em">Rearrangements:</h4></li>
      <ul>
        <li>出賽曲 (Farewell My Country) (<a href="https://www.youtube.com/watch?v=kO5283WI47U&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=5" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_01_ChuSaiChu" target="_blank">tabs</a>)</li>
        <li>さんぽ (Sanpo) @ Tonari no Totoro (<a href="https://www.youtube.com/watch?v=OXDIsmVpGpI&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=6" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_02_Sanpo" target="_blank">tabs</a>)</li>
        <li>KanColle Wedding Theme (<a href="https://www.youtube.com/watch?v=y6UGlSplzrU&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=7" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_03_KanColle_Wedding" target="_blank">tabs</a>)</li>
        <li>NEHS Anthem Modified (<a href="https://www.youtube.com/watch?v=IINFhU5YbVA&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=9" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_04_NEHS_Anthem" target="_blank">tabs</a>)</li>
        <li>Fire Emblem 7 Theme (<a href="https://www.youtube.com/watch?v=Qcf7BrENZDg&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=11" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_05_FE7_Theme" target="_blank">tabs</a>)</li>
        <li>残酷な天使のテーゼ (A Cruel Angel's Thesis) @ Neon Genesis Evangelion (<a href="https://www.youtube.com/watch?v=iURimOaHfCQ&list=PLsHELEsj9VT6T0Mkll5baP2vDqYu825nS&index=12" target="_blank">simulated play</a>; <a href="https://gitlab.com/cbhuang/music/-/tree/master/RF_06_EVA_OP" target="_blank">tabs</a>)</li>
      </ul>
      <li>Notes:</li>
      <ul>
        <li>Link to <a href="https://www.youtube.com/channel/UC97iuHLJV0XLGxaQJYOTPXA?view_as=subscriber" target="_blank">my YouTube channel for fingerstyle guitar artworks</a>.</li>
        <li>Guitar tabs are available in .pdf and .gpx (<a href="https://www.guitar-pro.com/en/index.php" target="_blank">Guitar Pro</a> 6 or above) formats on <a href="https://gitlab.com/cbhuang/music" target="_blank">my GitLab repo</a>.</li>
        <li>Currently the songs are played by Realistic Sound Engine (RSE) of Guitar Pro 6. Live performance will soon begin in 2021 as soon as my life stablizes reasonably...</li>
      </ul>
    </ul>
  </div>

  <div class="col-lg-3 col-md-12 col-12">
    <figure class="text-center">
      <img class="decoration-pic" src="/static/photo/music.jpg" alt="music picture">
    </figure>
  </div>

</div>
