<!-- Figure Row -->
<div class="row">

  <!-- About -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="#">
        <img src="/static/photo/about.jpg" class="figure-img img-fluid rounded" onclick="load_about()" alt="About Myself">
      </a>
      <!-- <figcaption>About</figcaption> -->
    </figure>
  </div>

  <!-- Coding -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="#">
        <img src="/static/photo/coding.jpg" class="figure-img img-fluid rounded" onclick="load_coding()" alt="Coding Projects">
      </a>
      <!-- <figcaption>Coding</figcaption> -->
    </figure>
  </div>

  <!-- Music -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="#">
        <img src="/static/photo/music.jpg" class="figure-img img-fluid rounded" onclick="load_music()" alt="Music Compositions">
      </a>
      <!-- <figcaption>Music</figcaption> -->
    </figure>
  </div>

  <!-- Travel -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="#">
        <img src="/static/photo/travel.jpg" class="figure-img img-fluid rounded" onclick="load_travel()" alt="Travel">
      </a>
      <!-- <figcaption>Travel</figcaption> -->
    </figure>
  </div>

</div>

<!-- footer -->
<div class="col-12 justify-content-center">
  <p id="footer-text">Mobile-friendly design powered by Bootstrap 4. Code available on GitLab (see Coding Projects).</p>
</div>
