<div class="row">

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/01.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/01-small.jpg" alt="01.jpg">
      </a>
      <figcaption>Utrchet Centrum</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/02.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/02-small.jpg" alt="02.jpg">
      </a>
      <figcaption>Amsterdam Station</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/03.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/03-small.jpg" alt="03.jpg">
      </a>
      <figcaption>Street in Amsterdam</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/04.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/04-small.jpg" alt="04.jpg">
      </a>
      <figcaption>Songefjord - Flåm</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/05.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/05-small.jpg" alt="05.jpg">
      </a>
      <figcaption>Paris from Eiffel Tower</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/06.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/06-small.jpg" alt="06.jpg">
      </a>
      <figcaption>Street in Paris</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/07.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/07-small.jpg" alt="07.jpg">
      </a>
      <figcaption>Musée du Louvre</figcaption>
    </figure>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <figure>
      <a href="/static/photo/08.jpg" target="_blank">
        <img class="img-fluid" src="/static/photo/08-small.jpg" alt="08.jpg">
      </a>
      <figcaption>Oslo</figcaption>
    </figure>
  </div>

</div>
