<!-- Title -->
<div class="row">
  <div class="col-12">
    <h2>Alcohol Consumption - Scatter Plot View</h2>
  </div>
</div>

<!-- Main Figure -->
<div class="row">
  <div class="col-12">
    <h5>Select Year</h5>
    <p>
    1990 <input id="yearSelect"
           data-slider-id='yearSelectSlider'
           type="text"
           onchange="updateAlcoholScatterPlot()"
           data-slider-min="1990"
           data-slider-max="2013"
           data-slider-step="1"
           data-slider-value="1995"/> 2013
    </p>
    <div id="fig-srate-alcohol">
    </div>
  </div>
</div>
