<!-- Title -->
<div class="row">
  <div class="col-12">
    <h2>Suicide Rate vs GDP per Capita - Scatter Plot View</h2>
  </div>
</div>

<!-- Buttons -->
<!-- <div class="row">
  <div class="col-2">
    <button id="selectByAgeSex" onclick="initTimeSeriesBySexYear()" type="button" class="btn btn-info btn-block">Sex</button>
  </div>
</div> -->

<!-- Main Figure -->
<div class="row">
    <div class="col-12">
      <div id="fig-srate-gdp">
      </div>
    </div>
</div>
