<!-- Worldmap -->
<div class="row">
  <div class="col-12" id="plotTitleContainer">
    <h2>Detailed Choropleth View</h2>
  </div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-2">
    <h6>Year</h6>
    <select id='yearDropdown' onchange='updateWorldmap()'>
    </select>
  </div>
  <div class="col-2">
    <h6>Age</h6>
    <select id='ageDropdown' onchange='updateWorldmap()'>
    </select>
  </div>
  <div class="col-2">
    <h6>Gender</h6>
    <select id='sexDropdown' onchange='updateWorldmap()'>
    </select>
  </div>
  <div class="col-6">
    <!-- <p>placeholder</p> -->
  </div>
</div>

<!-- Main Figure -->
<div class="row">
    <div class="col-12">
      <div id='fig-worldmap'>
      </div>
    </div>
</div>
