/* default color */
html, body, title, h1, h2, h3, h4, h5, h6, p {
  color: #dddddd;
}

body {
 background-image: url(background.jpg);
}

/* header */
header {
   text-align: center;
}

h1 {
  font-family: 'Libre Baskerville', 'Times New Roman', sans-serif;
  color: #c0c000;
}

/* grading info */
.hw {
  font-family: 'Libre Baskerville', 'Times New Roman', sans-serif;
  color: #aaaaaa;
}

/* analytical results */
h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', verdana, arial, sans-serif;
}

/* bootstrap-slider */
.slider .tooltip.in {
  opacity: 1;
}

/* blinking (loading text) */
@keyframes fadeIn {
  from { opacity: 0; }
}
.blinking {
    animation: fadeIn 0.5s infinite alternate;
}
