/* default color */
/* html, body, title, h1, h2, h3, h4, h5, h6, p {
  color: #000000;
} */

/* flex-fill setup */
html, body {
  height: 100%;
  width: 100%;
}

.flex-fill {
  flex: 1;
}

/* background image */
body {
  background-image: url(bg.png);
  background-repeat: initial;
  background-size: cover;
}

/* header */
header {
  text-align: center;
}

h1 {
  font-family: 'Libre Baskerville', 'Times New Roman', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #914b2d;
}

/* secondary headers */
h2, h3, h4, h5, h6 {
  font-family: Comfortaa, verdana, arial, sans-serif;
  font-weight: bold;
}

/* horizontal line */
hr {
  margin: 1px;
}

/* bootstrap button */
.btn {
  /* add padding to buttons to avoid cramming */
  margin-bottom: 2px;
  /* button fonts */
  font-family: 'Comfortaa', 'Libre Baskerville', 'Times New Roman', sans-serif;
  font-weight: bold;
  text-align: center;
}

/* hyperlink icon */
a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(Icon_External_Link.png);
  margin: 0 0 0 5px;
}

/* figcaption centering */
figcaption {
  text-align: center;
}

/* Individual elements */
#main {
  padding-left: 48px;
  padding-right: 48px;
}

@keyframes frontPage {
  from { opacity: 0; }
}
#slogan {
  animation-name: frontPage;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: 6;
  max-width: 100%;
  max-height: 100%;
}

#responsive {
  max-width: 100%;
  max-height: 80px;
}

#footer-text {
  font-family: 'Libre Baskerville', 'Times New Roman', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #6c4e00;
  font-size: 18px;
}

.decoration-pic {
  max-width: 100%;
  max-height: 100%;
}
